<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label for="name">Name: </label></td>
      <td>
        <input
          type="text"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
        />
      </td>
    </tr>
    <tr>
      <td><label for="alterEgo">Alter Ego: </label></td>
      <td>
        <input
          type="text"
          id="alterEgo"
          [(ngModel)]="model.alterEgo"
          name="alterEgo"
        />
      </td>
    </tr>
    <tr>
      <td><label for="power">Hero Power: </label></td>
      <td>
        <select id="power" required [(ngModel)]="model.power" name="power">
          <option *ngFor="let pow of powers" [value]="pow">{{ pow }}</option>
        </select>
      </td>
    </tr>
  </table>

  <div *ngIf="!isDetail">
    <button
      type="submit"
      (click)="notifyAdd.emit()"
      [disabled]="!heroForm.form.valid"
    >
      Add hero
    </button>
  </div>
  <div *ngIf="isDetail">
    <button
      type="submit"
      (click)="notifySave.emit()"
      [disabled]="!heroForm.form.valid"
    >
      save
    </button>
  </div>
</form>
